<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Neo4j</title>

    <!-- Common style and library used by the Launcher Panel -->
    <link rel="stylesheet" type="text/css" href="{{adminAssetsUrl}}/common/styles/_all.css">
    <script type="text/javascript" src="{{adminAssetsUrl}}/common/lib/_all.js"></script>

    <script src="{{assetsUrl}}/js/d3.v4.min.js"></script>

    <!-- App bar style -->
    <link rel="stylesheet" type="text/css" href="{{assetsUrl}}/styles/toolstarter.css">
</head>
<body>

<!-- App bar -->
<div class="app-bar">
    <div class="app-button">
        <img class="app-icon" src="{{assetsUrl}}/icons/neo4j.svg"/>
        <span class="app-title">Neo4j</span>
    </div>
</div>

<!-- Appends the Launcher Panel to the document body -->
<script>
    var CONFIG = {
        adminUrl: '{{adminUrl}}',
        appId: 'toolstarter'
    };
</script>
<script type="text/javascript" src="{{adminAssetsUrl}}/apps/launcher/js/_all.js"></script>
</body>
</html>